/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

/* defaults */

*{
    color: #483c32;
    font-family: Georgia, 'Times New Roman', Times, serif;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: #FFF0F5;
}


/* scroll bar */

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #FFF0F5; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #9EB9D4; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #C08081; 
  }
  

/* header */

header {
    text-align: center;
    background: #C08081;
    border-radius: 5px;
    height: 80px;
    display: flex;
    justify-content: center;
}

header h1{
    display: flex;
    vertical-align: bottom;
}

/* footer */

footer {
    background-color: #C08081;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    user-select: none;
    padding: 10px;
}


/* top menu */

#menu {
    background-color: #9EB9D4;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    height: 70px;
    position: relative;
    top: 0px;
}

#menu a{
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

#menu a img{
    height: 50px;
}

#menu a:hover{
    background-color: #B9D9EB;
}

.active:hover{
    background-color: #9EB9D4;
}

.active {
    font-weight: bold;
}

/* aside menu */

#menuToggler {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    padding: 5px;
    height: 25px;
    width: 25px;
    border-radius: 25%;
    z-index: 1;
    background-color: #9EB9D4;
    opacity: 75%;
}

#navigate {
    position: fixed;
    transform: translateX(200vw);
    transition: transform 0.4s;

    background-color: #9EB9D4;
    display: flex;
    flex-direction:column;
    width: 250px;
    height: 100px;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    right: 10px;
    bottom: 45px;
    border: 10px solid #9EB9D4;
    border-radius: 10px;

}

#navigate.open {
    transition: transform 0.4s, opacity 0.2s;
    transform: none;
    opacity: 1;
}

#navigate a {
    text-decoration: none;
    transition: backgroound-color 0.5s;
    padding: 5px;
    border-radius: 5px;
}

#navigate a:hover {
    background-color: #B9D9EB;
}


/* headshot */

#mainImg{
    display: block;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    height: fit-content;
    max-width: 50%;
    max-height: fit-content;

    float: right;

    border-radius: 5px;
    object-fit: cover;
}


/* body */

p {
    text-align: justify;
}


/* Grades tabs */

#gradeSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

h2 {
    background-color: #C08081;
    border: 10px solid #C08081;
    border-radius: 10px;
}

.grades {
    background-color: #B9D9EB;
    border: 10px solid #9EB9D4;
    width: 400px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;

}

#gradeSection h3 {
    text-align: center;
}

#gradeSection p {
    text-align: center;
    font-size: 85%;
    margin: 7px;
}

#scho {
    font-weight: bold;
}



/*
#grades {
    width: 350px;
}

.tab {
    overflow: hidden;
    background-color: #9EB9D4;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.tab button {
    background-color: #9EB9D4;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    width: 100x;
}

.tab button:hover {
    font-weight: bold;
}

.tabContent {
    display: grid;
    border: 5px solid #9EB9D4;
    border-radius: 5px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    height: 225px;  
}

*/


/* TABLET STYLES */

@media screen and (min-width: 500px) {

    #mainImg{
        max-width: 35%;

    }

}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {


    /* header */

    header {
        width: 65%;
        padding-left: 10px;
        text-align: left;
        position: relative;
        justify-content: left;

    }

    /* menu */

    #menu {
        float: right;
        margin-top: -80px;
        width: 33%;

    }

    #mainImg {
        min-width: 200px;
        max-width: 350px;
    }

}